<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082811113281-3j1hu4ccoplh5uuuc4oaognsvjns1k7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082811113281-3j1hu4ccoplh5uuuc4oaognsvjns1k7s</string>
	<key>API_KEY</key>
	<string>AIzaSyDfyUEcDSc8cCF-9FAteDlPDSb3LTzJj5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1082811113281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.tattel</string>
	<key>PROJECT_ID</key>
	<string>tattel-5cb3f</string>
	<key>STORAGE_BUCKET</key>
	<string>tattel-5cb3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082811113281:ios:9aaea7e1d9839e9812cbc0</string>
	<key>DATABASE_URL</key>
	<string>https://tattel-5cb3f.firebaseio.com</string>
</dict>
</plist>